<h1>ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i+1 }} - {{ name }}
    <button (click)="deleteName(i)">Delete name</button>
  </li>
</ul>
<hr>
<h1>*ngFor objs</h1>
<div *ngFor="let product of products">
  <img width="250" [src]="product.image" alt="image">
  <h2>Precio: {{ product.price }}</h2>
  <p>{{ product.name }}</p>
</div>
